/SWP/Week4/SourceCode/SWP/dist/
/SWP/Week5/SourceCode/SWP/dist/
/SWP/Week3/SourceCode/SWP/nbproject/private/
/SWP/Week3/SourceCode/SWP/build/
/SWP/Week6/SourceCode/SWP/nbproject/private/
/SWP/Week6/SourceCode/SWP/build/
