/SWP/Week1/SourceCode/SWP/build/
/SWP/Week1/SourceCode/SWP/nbproject/private/
/SWP/Week2/SourceCode/SWP/build/
/SWP/Week2/SourceCode/SWP/nbproject/private/
SWP/Week2/SourceCode/SWP/nbproject/private/private.properties
SWP/Week2/SourceCode/SWP/nbproject/project.properties
*.properties
*.properties
SWP/Week3/SourceCode/SWP/nbproject/private/private.xml
SWP/Week3/SourceCode/SWP/nbproject/project.properties
SWP/Week3/SourceCode/SWP/nbproject/private/private.xml
SWP/Week3/SourceCode/SWP/nbproject/private/private.properties
SWP/Week2/SourceCode/SWP/nbproject/private/private.xml
SWP/Week2/SourceCode/SWP/nbproject/private/private.properties
SWP/Week2/SourceCode/SWP/nbproject/project.properties
*.properties
SWP/Week2/SourceCode/SWP/nbproject/private/private.xml
SWP/Week3/SourceCode/SWP/nbproject/private/private.xml
/SWP/Week4/SourceCode/SWP/nbproject/private/
/SWP/Week4/SourceCode/SWP/build/
